/*Universal Styles*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: 'Prompt', sans-serif;
}

.temp {
    width: 40px;
    height: 40px;
    background-color: crimson;
    border-radius: 150px;
}



/*Mobile Styles*/

.main_content_wrapper_mobile {
    width: 100%;
    position: relative;
}

.logo_container,
.BBB_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    padding: 3% 0;
}

.logo_container img {
    width: 100%;
    display: block;
    height: auto;
}

.form_container {
    width: 90%;
    margin: 0 auto;
    background: #FBFBFB;
    -webkit-box-shadow: 0px 4px 34px rgba(134, 134, 134, 0.25);
    box-shadow: 0px 4px 34px rgba(134, 134, 134, 0.25);
}

.form_container h1 {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    text-transform: capitalize;
    padding: 0.4em;
}

.form_container p {
    text-align: center;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.2;
    color: #959393;
    padding: 0.4em;
}

.heading_bold {
    color: #0499D3;
}

.input_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 88%;
    margin: 0 auto;
    padding: 1em 0;
}

.input_wrapper label {
    font-size: 14px;
    padding-bottom: 0.5em;
}

.input_wrapper select {
    height: 48px;
    background-color: white;
    border: 1px solid #959393;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image:
        linear-gradient(45deg, transparent 50%, #959393 50%),
        linear-gradient(135deg, #959393 50%, transparent 50%);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
}

.input_wrapper input {
    height: 48px;
    background-color: white;
    border: 1px solid #959393;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em;
    text-align: center;
}

.zip_copy {
    margin-top: 1.3em;
}

.btn_container {
    text-align: center;
    padding: 2em 0 1.5em 0;
}

.zip_button {
    width: 88%;
    height: 48px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: 18px;
    background-color: #2D4EC1;
    color: white;
    cursor: pointer;
}
